<template name="addUser">
	<div id="addForm">
		<center>
			<form class="add-info">
				<h2 class="jokeForm-heading">Information</h2>

				<label for="userName" class="sr-only">Name</label>
				<input type="text" name="userName" id="userName" class="form-control" placeholder="Enter Name" maxlength="40">
<br>
				<label for="bloodType" class="sr-only">Blood Type</label>
				<input type="text" name="bloodType" id="bloodType" class="form-control" placeholder="bloodType" maxlength="40">
<br>
				<label for="faculty" class="sr-only">faculty</label>
				<input type="text" name="faculty" id="faculty" class="form-control" placeholder="Faculty" maxlength="40">
<br>
				<label for="major" class="sr-only">Major</label>
				<input type="text" name="major" id="major" class="form-control" placeholder="major" maxlength="40">
<br>
				<label for="emerCell" class="sr-only">Emergency Cell</label>
				<input type="text" name="emerCell" id="emerCell" class="form-control" placeholder="Emergency Cell" maxlength="40">
<br>
				<label for="latitude" class="sr-only">Latitude</label>
				<input type="text" name="latitude" id="latitude" class="form-control" placeholder="Latitude" maxlength="40">
<br>
				<label for="longitude" class="sr-only">Longitude</label>
				<input type="text" name="longitude" id="longitude" class="form-control" placeholder="Longitude" maxlength="40">
<br>


				<button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
			</form>
		</center>
	</div>
</template>
