.form-signin {
	width: 100%;
    max-width: 500px;
    padding: 100px;
    margin: auto;
}

/* .background{
	background: url('https://image.freepik.com/free-vector/bright-background-with-dots_1055-3132.jpg') no-repeat fixed center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} */

.form-control {
	height: 50px;
	margin-bottom: 10px;
}

#login-btn {
	margin-bottom: 40px;
}

@media (max-width: 768px) {
  .form-signin {
	padding: 0px 30px 0px 30px;
	}
}