<template name="postItem">


  <div class="post">
    <div class="post-content">
      <h3><a href="#">{{firstName}} {{lastName}}</a></h3>
      <!-- <h1>Name : {{firstName}} {{lastName}}</h4> -->
      <p>
        Name : {{firstName}} {{lastName}} <br>
        BloodType : {{bloodType}} <br>
        Faculty : {{faculty}} <br>
        Major : {{major}} <br>
        Emergency Cell : {{emerCell}} <br>

      	<!-- submitted by {{author}} -->
      	<!-- {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}} -->
      </p>
    </div>
    <!-- <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a> -->
  </div>
</template>
